<div class="content">
  <router-outlet></router-outlet>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
  <section>
    <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
  </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
    <section>
      <button mat-raised-button (click)="toggleDarkTheme()">Switch</button>
    </section>
</div>
