<div class="header">
  <mat-toolbar style="min-height:40px" color="primary" class="toolbar">
    <mat-toolbar-row>
      <span>
        <div class="toolbar-logo">
          <button mat-flat-button>
            <mat-icon svgIcon="crescent" color="accent" class="toolbar-icon"></mat-icon>
            <span class="icon-text">Czar Ec</span>
          </button>
        </div>
      </span>
      <span class="toolbar-spacer"></span>
      <div class="toolbar-external-links">
          <button mat-flat-button (click)="openLinkedIn()">
            <span class="toolbar-icon"><i class="fab fa-linkedin-in"  style="font-size:20px;"></i></span>
          </button>

          <button mat-flat-button (click)="openGithub()">
              <span class="toolbar-icon"><i class="fab fa-github" style="font-size:20px;"></i></span>
          </button>

          <button mat-raised-button (click)="openCV()" color="accent" class="header-cv-button">
            <span class="cv-text">CV</span>
            <span class="icon-text">View CV</span>
          </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
  