.logoText {
  height: 32px;
  width: 144px;
}

.toolbar {
  display: flex;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.settingsMenu {
  padding: 5px 5px;
}

.navMenuButton {
  margin: 0 auto;
  padding: 0 50px;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .mobileItem {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .desktopItem {
    display: none;
  }
}
